<!DOCTYPE html>
<html ng-app="myApp">
<head>
			<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		
	<title></title>
</head>
<body>
<h3>
	All Bookings
</h3><br/>

<h3>Id:<%= id %></h3><br/>
Username:<%= username %><br/>
Phone:<%= phone %><br/>
name:<%= name %><br/>
Address:<%= address %><br/>
Id:<%= id %><br/>
Service:<%= service %><br/>
Time:<%= time %><br/>
Date:<%= date %><br/>
Therapist Id:<%= therapist %><br/>
Email Id:<%= email %><br/>
Booking Date:<%= bdate %><br/>
Booking Time:<%= btime %><br/>


</body>
</html>