<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<title></title>
</head>
<body>


<h4>Name:<%=name%></h4>
<h4>Username:<%=username%></h4>
<h4>Age:<%=age%></h4>

<h4>Address:<%=address%></h4>

<h4>Phone:<%=phone%></h4><br/><br>

<a href=<%= link %> >All bookings</a>


</body>
</html>