<!DOCTYPE html>
<html>
<head>
	<title>
		PAyment Success
	</title>
</head>
<body>
Congrats your booking was successful.<br/>
Your booking id is <%= id %>.<br/>
<h3>
	Booking for <%= service %> on <%= date %> at <%= time %> for <%= duration %> mins.
</h3>

</body>
</html>